* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chessboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chess-board {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
}

.chess-row {
  display: flex;
}

.chess-square {
  width: 100px;
  height: 100px;
  background-color: white;
}

.chess-square.brown {
  background-color: brown;
}

/* Chess Pieces */
.chess-piece {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-piece img {
  width: 80%;
}